/* Start Main Style */
* {
    box-sizing: border-box;
    transition: all 0.5s;
}
.clear {
    clear: both;
}
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.bg-d-blue {
    background: #052531 !important;
}
.image-res {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.text-d-blue {
    color: #052531 !important;
}
.bg-new-warning {
    color: #052531 !important;
    background-color: #e9c46a !important;
}
.text-warning {
    color: #dba400 !important;
}
.row {
    margin: auto;
}
.bold {
    font-weight: bold;
}
.active {
    z-index: 2 !important;
    font-weight: bold !important;
    color: hsl(196, 81%, 11%) !important;
    background-color: #e9c46a !important;
    border-color: #e9c46a !important;
}
.line-60 {
    line-height: 60px;
}
.line-40 {
    line-height: 40px;
}
/* login & register box style */
.row.justify-content-center.members-box {
    width: 80%;
    margin-top: 60px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* Nav bar Style */

.top-navbar {
    background: #d3d3d3;
    color: #052531;
    font-weight: bold;
}

.navbar .collapse.navbar-collapse {
    justify-content: end;
}

/* Products Section Style */
#products-section .products-details {
    overflow: auto;
    max-height: 85vh;
}
.product a img.product-image {
    width: 100%;
    min-height: 100px;
}
.invoice-table.invoice-details-table {
    overflow: auto;
    max-height: 60vh;
}
/* Right bar  */
.right-bar-container {
    min-height: 95vh;
    overflow: hidden;
}
.right-bar-container > div {
    height: inherit;
}
/* all-right-bar-popup */
.all-right-bar-popup > div,
.add-product-layout-box > div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.479);
    z-index: 10;
    /* transform: translate(-50%, -50%); */
}
.all-right-bar-popup > div > div,
.add-product-layout-box > div > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    max-height: 90vh;
    overflow: auto;
}
/* VUE JS Notification BOX */

.vue-notification-group {
    top: 10px !important;
}
.vue-notification {
    top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.vue-notification.success,
.vue-notification.warn {
    color: #000;
}

/* Store Menu Page */

#menu-page .menu-header {
    height: 100vh;
    position: relative;
}
#menu-page .menu-header img {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
}
#menu-page .menu-content {
    min-height: 100vh;
}
#menu-page .menu-content .content-header {
    position: relative;
}
#menu-page .menu-content .content-header img.store-image {
    position: absolute;
    right: 50%;
    bottom: 0%;
    width: 30%;
    height: 85%;
    transform: translate(50%, 50%);
    border: 5px solid #052531;
}
@media only screen and (max-width: 600px) {
    #menu-page .menu-header img {
        width: 50%;
        height: 25%;
    }
    #menu-page .menu-content .content-header img.store-image {
        width: 40% !important;
        height: 70% !important;
    }
}
#menu-page .menu-content .menu-main-content {
    margin-top: 140px;
}
#menu-page .menu-content .menu-main-content .section-name {
    border-bottom: 2px dashed #052531;
}

/* ================================ */
/* ========== Home Pages ========== */
/* ================================ */

.dropdown-btn-position {
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin: 0 5px;
    z-index: 9;
}
.dropdown-btn-position button#dropdownMenuLink {
    font-size: 1.5em;
    border-radius: 50%;
}
/* Home Component */

#home-compo .home-header,
#casher-program-compo .casher-program-header {
    background-image: url("/image/home/online-ordering-FB.png");
    height: 70vh;
    background-size: 100%;
    position: relative;
}

#home-compo .home-header .header-text,
#casher-program-compo .casher-program-header .header-text {
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    color: #fff;
    transform: translate(-10%, -50%);
}
#home-compo #key-features .row > div {
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s;
}
#home-compo #key-features .row > div:hover {
    background: #ffc107;
    color: #000 !important;
    cursor: pointer;
}
#home-compo #key-features .row > div:hover i {
    color: #fff !important;
}
#home-compo .our-programs .heading,
#casher-program-compo .the-benefits {
    border-top: 1px solid #000;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}
#home-compo .our-programs .heading h3 {
    color: #000;
    text-decoration: none;
    font-style: italic;
    /* font-size: 29px; */
    text-align: center;
    padding: 5px;
    background: #fff;
    width: max-content !important;
    padding: 10px;
    margin: 0px auto;
    display: block;
    position: relative;
    top: -24px;
    font-family: "Droid serif", serif;
}
.the-benefits .center-top-border {
    border-top: 4px solid #0072d3;
    width: max-content;
    margin: auto;
    padding: 10px;
    margin-bottom: 17px;
    font-weight: bold;
}
/* Digital Menu Page */
.larg-image-st {
    border-radius: 2.25rem !important;
    box-shadow: 0px 0 16px 3px #565656;
}
/* Start Create store Page */
#crate-store .create-box {
    margin: auto;
    box-shadow: 8px 15px 15px #504ca0;
}
#casher-program-compo .the-benefits #the-benefits-content {
    cursor: pointer;
}
#casher-program-compo .the-benefits #the-benefits-content .row .bg-light.p-5 {
    min-height: 52vh;
}
#casher-program-compo .the-benefits .heading h3 {
    color: #000;
    text-decoration: none;
    font-style: italic;
    font-size: 29px;
    text-align: center;
    padding: 5px;
    background: #fff;
    width: 55%;
    margin: 0px auto;
    display: block;
    position: relative;
    top: -24px;
    font-family: "Droid serif", serif;
}

#casher-program-compo #the-benefits-content {
    background-image: url("/image/home/waiter-taking-order.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background: hsla(0, 0%, 33%, 0.486);
}

#casher-program-compo #the-benefits-content .row > div:hover i {
    color: #000 !important;
}

/* Casher Program Page */
#crate-store .create-store-heading h4 {
    border-bottom: 2px solid #514da2;
}
